body {
    font-family: Tahoma, sans-serif;
    background-image: url(../img/nvidia.jpg);
    background-attachment: fixed;
}

body a:visited{
    color: #eee;
}

.site {
    width: 800px;
    margin: 0 auto;
    padding: 20px;

    background-color: #000;
}

/* Header */
.header {
    padding: 20px;
}


.header-title {
    font-family: Tahoma, sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    color: #76b900;

    margin: 0;
    margin-bottom: 10px;
}



/* List */
.list-title {
    font-size: 24px;
    text-align: center;
    color: #76b900;
}

.list-text {
    font-size: 18px;
    text-indent: 40px;
    margin-bottom: 24px;
    color: #fff;
}

.list-item {
    font-size: 18px;
    margin-bottom: 20px;
    list-style-type: disc;
    color: #fff;
}



/* Table */
.table,
.table-nvidia {
    width: 100%; 
}

.table td,
.table-nvidia td {
    border: 1px solid #fff;
    padding: 10px 15px;
}

.table-nvidia th {
    border: 1px solid #fff;
    padding: 10px 15px;
    text-align: center;
    color: #76b900;
}

td a {
    display: block;
    background: #76b900;
    color: #fff;
    padding: 5px; 
}

.table-nvidia {
    border-collapse: collapse;
    color: #fff;
}




/* Form */
.form {
    width: 400px;
    margin: 0 auto;
}

.form input {
    margin-bottom: 20px;
}

.form-title {
    font-size: 18px;
    color: #fff;

    margin: 0;
    margin-bottom: 20px;
}

.form-input {
    font-family: Tahoma, sans-serif;
    font-size: 15px;

    padding: 10px;
    
    width: 335px;

    outline: none;
    border: 1px solid #fff;
    background-color: #fff;
}
.form-textarea {
    font-family: Arial, sans-serif;
    font-size: 15px;

    width: 335px;
    height: 100px;
    resize: none;
    
    margin-bottom: 20px;
    padding: 10px;

    outline: none;
    border: 1px solid #fff;
}

.form-select{
    font-family: Arial, sans-serif;
    font-size: 15px;

    width: 357px;
    resize: none;
    
    margin-bottom: 20px;
    padding: 10px;

    outline: none;
    border: 1px solid #fff;
}


/* Footer */
.footer {
    color: #fff;
    text-align: center;

    margin-top: 5px;
    padding: 15px 25px;
}
.email {
    color: #fff;
}



/* Button */

.btn-submit,
.btn-reset {
    font-size: 15px;

    margin-top: 5px;
    padding: 15px;
    color: #fff;

    border: none;
}

.btn-submit {
    background-color: #76b900;
}

.btn-submit:hover {
    background-color: #649e00;
    cursor: pointer;
}

.btn-reset {
    background-color: #acacac;
}

.btn-reset:hover {
    background-color: #a3a2a2;
    cursor: pointer;
}